/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Open Sans', sans-serif;
}
.page-heading{
  padding: 20px 0px;
}
.first-row{
  margin-top: 80px!important;
}
.strip{
  width: 40%;
  height: auto;
  overflow: hidden;
  margin: auto;
  padding: 5px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #b4d56f;
  }
  .strip p{
  margin-top: -10px;
  }
.left-cols{
  width: 38.0%;
  height: auto;
  overflow: hidden;
  float: left;
  padding: 10px;
  margin-top: 100px;
}
.left-cols .form-left-title{
  text-align: right;
}
.center-cols{
  display: block;
  width: 22%;
  height: auto;
  overflow: hidden;
  float: left;
}
.center-cols img{
  width: 100%;
}
.right-cols{
  width: 38.0%;
  height: auto;
  overflow: hidden;
  padding: 10px;
  margin-top: 100px;
}

.form-rows{
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: right;
}
.input-title{
  width: 25%;
  float: right;
}
.icon-container{
  width: 32px;
  float: right;
}
.form-txtbox{
  width: 160px;
  float: right;
  padding: 2px;
  border-radius:5px;
  border:1px solid #ccc;;
}
.form-units{
  width: 60px;
  float: right;
}
.or{
  text-align: right;
}
.input-desc{
  font-size: 10px;
}
.output-title{
  width: 30%;
  float: left;
  font-size: 14px;
}
.output-value{
  font-size: 40px;
  float: left;
  color: #81ab27;
  margin-top: -25px;
  font-weight: bold;
}
.out-put{
  width: 150px;
  background: none;
  border: none;
  color: #81ab27;
  font-weight: bold;
}
.tons{
  margin-top: 20px;
  float: left;
  padding-left: 10px;
  color: #81ab27;
}
.right-row{
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 20px;
}
.right-icon{
  margin-top: -25px;
}
.plant-trees{
  padding: 10px 20px;
  background: #81ab27;
  color: #000000;
  text-decoration: none;
  border-radius:5px;
  font-weight: bold;
}
.plant-trees:hover{
  text-decoration: none;
}









.main-header{
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #ffffff;
  position: fixed;
  z-index: 99999;
  margin-top: -80px;
  box-shadow: 0px 0px 10px #333333;
}
.header-left{
  width: 70%;
  height: auto;
  overflow: hidden;
  float: left;
  padding: 20px;
}
.header-left1{
  width: 50%;
  height: auto;
  overflow: hidden;
  float: left;
  margin-top: 1px;
}
.header-txt{
  width: 100px;
  border:none;
  background: #b4d56f;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;  
}
.header-right{
  width: 30%;
  height: auto;
  overflow: hidden;
  float: right;
  padding: 20px;
  border-left: 1px solid #999999;
}
.order-icon{
  float: left;
}
.header-right .fa{
  font-size: 28px;
  margin-top: 0px;
  padding-right: 20px;
  border-right: 1px solid #cccccc;
}
.cart-icon{
  padding-left: 20px;
}
.cart-count{
  background: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  position: absolute;
}


#main-body{
  position: relative;
  margin-top: 80px;
  // margin-left: 0px;
}
.inner-row{
  width: 95%;
  height: auto;
  overflow: hidden;
  margin: auto;
}
.row{
  width:100%;
  height: auto;
  overflow: hidden;
}
.col-left{
width: 33%;
height: auto;
overflow: hidden;
float: left;
}
.col-right{
width: 67%;
height: auto;
overflow: hidden;
float: right;
}
.points{
  margin-left: 400px;
}
  

.logo-container{
width: 70%;
height: auto;
overflow: hidden;
margin: auto;
}

.logo-container img{
width:100%;
}
.page-title{
padding-top: 10px;
font-weight: bold;
}
.enter{
font-size: 20px;
font-weight: bold;
}
.form-calculator{
width: 100%;
height: auto;
overflow: hidden;
}

.form-lbl{
font-size: 14px;
font-weight: bold;
padding-left: 10px;
}
.form-txtbox{
font-size: 12px;
font-weight: bold;
}
.input-container{
width: 100%;
height: auto;
overflow: hidden;
padding-bottom: 5px;
}
.form-btn{
width: 168px;
font-weight: bold;
padding-top:3px;
padding-bottom: 3px;
}
.tot-txt{
margin-bottom: 10px;
text-align: center;
font-weight: bold;
color: #000000;
}
.tot-lbl{
font-weight: bold;
font-size: 14px;
float: right; 
padding-right: 10px;
}
.tot-tree-txt{
border:none;
color: #000000;
background: #ec008d;
padding: 2px;
text-align: center;
font-weight: bold;
}
.col-right .form-txtbox{
width: 168px;
}

.map-container{
margin-top: -150px;
margin-left: 50px;
}
.map-links{
color: #ec008d;
font-weight: bold;
font-size: 14px;
}
.map-links:hover{
cursor: pointer;
}
#western_himalaya{
position: absolute;
margin-top: -550px;
margin-left: 70px;
}
#plains-of-punjab{
position: absolute;
margin-top: -505px;
margin-left: 70px;
}
#arid-western-zone{
position: absolute;
margin-top: -390px;
margin-left: 70px;
}
#urban-centres{
position: absolute;
margin-top: -260px;
margin-left: 70px;
}
#western-ghats{
position: absolute;
margin-top: -170px;
margin-left: 70px;
}
#ganetic-plains{
position: absolute;
margin-top: -375px;
margin-left: 310px;
}
#central-india{
position: absolute;
margin-top: -290px;
margin-left: 240px;
}
#deccan-plateau{
position: absolute;
margin-top: -190px;
margin-left: 210px;
}
#eastern-himalaya{
position: absolute;
margin-top: -385px;
margin-left: 590px;
line-height: 15px;
}
#eastern-plains{
position: absolute;
margin-top: -290px;
margin-left: 470px;
}
#eastern-ghats{
position: absolute;
margin-top: -180px;
margin-left: 330px;
}
#southern-plains{
position: absolute;
margin-top: -50px;
margin-left: 290px;
}

.products-container{
  width:90%;
  height: auto;
  overflow: hidden;
  margin: auto;
  padding: 10px;
}
.products{
  width: 40%;
  box-shadow: 0px 0px 10px #666666;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 70px;
  float: left;
}

.purchase-row{
  margin-top: -10px;
}
.product-list-title{
  font-weight: bold;
}

.prod-qty{
width: 50px;
margin-left: 10px;
}
.add-btn{
  margin: auto 10px;
  background: #b4d56f;
  color: #333333;
  font-weight: bold;
  border:none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}
.chk-out-btn{
  margin: auto 5px;
  background: #ff9900;
  color: #333333;
  font-weight: bold;
  border:none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}
.add-btn:hover, .chk-out-btn:hover{
  cursor: pointer;
}
.display-none{
  display: none;
}
.display-block{
  display: block;
}

.cart-product-container{
width: 90%;
height: auto;
overflow: hidden;
margin: auto;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 5px #333333;
margin-bottom: 20px;
}
#product-title{
float: left;
}
.calc-result{
  background: #f1f1f1;
  padding:10px;
}
.mobile-logo{
  display: none;
}




@media only screen and (max-width:768px){
  .main-header{
    margin-top: -45px;
  }
  .header-left{
    width: 83%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .header-left1,.header-left2{
    width: 100%;
    font-size: 10px;
    margin-bottom: 1px;
  }
  .header-txt{
    width: 70px;
  }
  .header-right{
    width: 17%;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .order-icon{
    padding-right: 10px;
    padding-left: 10px;
    border-right: none!important;
  }
  .cart-icon{
    margin-left: -15px;
  }
  .cart-count{
    background: rgba(0,0,0,0.6);
    right: 18px;
  }
  .strip{
    width: 90%;
    margin-top: -35px;
    font-size: 12px;
  }

  .mobile-logo{
    display: block;
    width: 180px;
    overflow: hidden;
    margin:auto;
    float: none;
  }
  .mobile-logo img{
    width: 100%;
  }
  .center-cols{
    display: none;
  }

  .left-cols{
    width: 100%;
  }
  .right-cols{
    width: 100%;
    background: #f1f1ff;
  }
  .left-cols .form-left-title{
    text-align: left;
  }
  .inner-row{
    margin-top: -110px;
  }
  .out-put{
    width: 120px;
    font-size: 30px;
  }
  .plant-trees{
    float: none;
    margin-left:auto;
    margin-right: auto;
  }
  .strip-2{
    margin-top: 0px;
  }
  .points{
    margin-left: 0px;
    font-size: 14px;
  }
  .products-container{
    width:90%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 10px;
  }
  .products{
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px;
    float: left;
    font-size: 12px;
  }

  .map-container{
    margin-top: 0px;
    margin-left: -10px;
  }
  .map-container img{
    width: 350px;
  }
  .map-links{
    color: #ec008d;
    font-weight: bold;
    font-size: 12px;
  }
  .map-links:hover{
    cursor: pointer;
  }
  #western_himalaya{
    position: absolute;
    margin-top: -345px;
    margin-left: 30px;
  }
  #plains-of-punjab{
    position: absolute;
    margin-top: -320px;
    margin-left: 30px;
  }
  #arid-western-zone{
    position: absolute;
    margin-top: -240px;
    margin-left: 30px;
  }
  #urban-centres{
    position: absolute;
    margin-top: -160px;
    margin-left: 30px;
  }
  #western-ghats{
    position: absolute;
    margin-top: -100px;
    margin-left: 30px;
  }
  #ganetic-plains{
    position: absolute;
    margin-top: -235px;
    margin-left: 160px;
  }
  #central-india{
    position: absolute;
    margin-top: -180px;
    margin-left: 100px;
  }
  #deccan-plateau{
    position: absolute;
    margin-top: -120px;
    margin-left: 80px;
  }
  #eastern-himalaya{
    position: absolute;
    margin-top: -245px;
    margin-left: 320px;
    line-height: 15px;
  }
  #eastern-plains{
    position: absolute;
    margin-top: -180px;
    margin-left: 240px;
  }
  #eastern-ghats{
    position: absolute;
    margin-top: -100px;
    margin-left: 160px;
  }
  #southern-plains{
    position: absolute;
    margin-top: -30px;
    margin-left: 140px;
  }
  .chk-out-btn,.add-btn{
    font-size: 12px;
  }
  .input-title,.tons,.form-units{
    font-size: 12px;
  }
  .input-title{
    text-align: left;
  }
  .form-units{
    width: 35px;
  }
  .form-rows{
    margin-left: -30px;
  }
  .form-row1{
    margin-left: 0px;
  }
  .input-desc{
    margin-top: -10px;
    margin-left: -150px;
    position: absolute;
    text-align: right;
  }
  .or{
    text-align: center;
  }
  .or h4{
    font-size: 18px;
  }
  .form-right-title{
    font-size: 14px;
  }
  #main-body,.main-body{
    width: 100%;
    margin:auto;
    margin-top: 45px;
    font-size: 12px;
  }
  
}



// @media only screen and (max-width:1024px){

// .hi{
//   margin-left:0px;
//  }
// .main-header{ 
//   width: 100%;
//   height: auto;
//   overflow: hidden;
//   background: #ffffff;
//   /* border-bottom: 1px solid #666666; */
//   position: fixed;
//   z-index: 99999;
//   margin-top: -180px;
//   box-shadow: 0px 0px 10px #333333;
// }
// .header-left{
//   width: 80%;
//   height: auto;
//   overflow: hidden;
//   float: left;
//   padding: 20px;
// }
// .header-left1{
//   width: 100%;
//   height: auto;
//   overflow: hidden;
//   float: left;
// }
// .header-txt{
//   width: 100px;
//   border:none;
//   background: #b4d56f;
//   text-align: center;
//   font-weight: bold;
// }
// .header-right{
//   width: 20%;
//   height: auto;
//   overflow: hidden;
//   float: right;
//   padding: 20px;
//   padding-left: 5px;
//   border-left: 1px solid #999999;
// }
// .header-right .fa{
//   font-size: 50px;
//   margin-top: -10px;
// }
// .cart-count{
//   background: #000000;
//   color: #ffffff;
//   font-size: 12px;
//   font-weight: bold;
//   border-radius: 50%;
//   padding-left: 8px;
//   padding-right: 8px;
//   padding-top: 3px;
//   padding-bottom: 3px;
//   text-align: center;
//   position: absolute;
// }

// .main-header{
//   margin-top: -30px;
// }
// #main-body{
//    position: relative;
//   margin-top: 30px;
//   padding-top:55px; 
// }

// .col-right{
//   width: 60%;
//   height: auto;
//   overflow: hidden;
//   float: none;
//   margin-left: 30px;
// }



// .map-container{
//   margin-top: 0px;
//   margin-left: -10px;
//   // text-align:center;
// }
// .map-container img{
//   width: 350px;
// }
// .map-links{
//   color: #ec008d;
//   font-weight: bold;
//   font-size: 12px;
// }
// .map-links:hover{
//   cursor: pointer;
// }
// #western_himalaya{
//   position: absolute;
//   margin-top: -345px;
//   margin-left: 30px;
// }
// #plains-of-punjab{
//   position: absolute;
//   margin-top: -320px;
//   margin-left: 30px;
// }
// #arid-western-zone{
//   position: absolute;
//   margin-top: -240px;
//   margin-left: 30px;
// }
// #urban-centres{
//   position: absolute;
//   margin-top: -160px;
//   margin-left: 30px;
// }
// #western-ghats{
//   position: absolute;
//   margin-top: -100px;
//   margin-left: 30px;
// }
// #ganetic-plains{
//   position: absolute;
//   margin-top: -235px;
//   margin-left: 160px;
// }
// #central-india{
//   position: absolute;
//   margin-top: -180px;
//   margin-left: 100px;
// }
// #deccan-plateau{
//   position: absolute;
//   margin-top: -120px;
//   margin-left: 80px;
// }
// #eastern-himalaya{
//   position: absolute;
//   margin-top: -245px;
//   margin-left: 320px;
//   line-height: 15px;
// }
// #eastern-plains{
//   position: absolute;
//   margin-top: -180px;
//   margin-left: 240px;
// }
// #eastern-ghats{
//   position: absolute;
//   margin-top: -100px;
//   margin-left: 160px;
// }
// #southern-plains{
//   position: absolute;
//   margin-top: -30px;
//   margin-left: 140px;
// }

// .products-container{
//   width:100%;
//   height: auto;
//   overflow: hidden;
//   margin-left: 40%;
//   margin-top: 0px;
//   padding: 10px;
//   margin-left: 0px;
// }

// }

// ////////////////////////////////////////////
// @media only screen and(max-width:540px){
//   #main-body{
//     position: relative;
//    margin-top: 30px;
//    padding-top:100px; 
//  }
// }

// @media only screen and (max-width:600px){

//   .calc-result{
//     width: 100%;
//     height: auto;
//     overflow: hidden;
//     background: #f1f1f1;
//     padding:10px;
//   }
//   .main-header{
//     width: 100%;
//     height: auto;
//     overflow: hidden;
//     background: #ffffff;
//     position: fixed;
//     z-index: 99999;
//     margin-top: -30px;
//     box-shadow: 0px 0px 10px #333333;
//   }
 
// #main-body{
//    position: relative;
//    margin-top: 30px;
  
// }
// .center{
//   width:100%;
// }
  
//   .col-left{
//     width: 100%;
//     height: auto;
//     overflow: hidden;
//     float: none;
//   }

//   .strip{
//     width: 90%;
//     margin:auto;
//   }

//   .logo-container{
//     width: 70%;
//     height: auto;
//     overflow: hidden;
//     margin: auto;
//     text-align: center;
//   }


// }