<div class="first-row">
    <div class="strip">
        <h4>STEP-1</h4>
        <p>CALCULATE THE CARBON FOOTPRINT OF YOUR BUILDING</p>
    </div>
    <div class="mobile-logo">
        <img class="logo" src="assets/img/logo.jpg">
    </div>
    <div class="inner-row">
        <div class="left-cols">
            <p class="form-left-title">
                Tell us the approximate material quantities used during your construction
            </p>
            <div class="form-rows">
                <div class="form-units">Bags</div>
                <input type="number" [(ngModel)]="cement" name="cement" id="cement" class="form-txtbox cement">
                <div class="icon-container"><img class="logo" src="assets/img/cement.png"></div>
                <div class="input-title">Cement</div>
            </div>
            <div class="form-rows">
                <div class="form-units">Tons</div>
                <input type="number" [(ngModel)]="steel" name="steel" id="steel" class="form-txtbox steel">
                <div class="icon-container"><img class="logo" src="assets/img/steel.png"></div>
                <div class="input-title">Steel</div>
 
            </div>
            <div class="form-rows">
                <div class="form-units">Bricks</div>
                <input type="number" [(ngModel)]="bricks" name="bricks" id="bricks" class="form-txtbox bricks">
                <div class="icon-container"><img class="logo" src="assets/img/bricks.png"></div>
                <div class="input-title">Bricks</div>
   
            </div>
            <div class="form-rows">
                <div class="form-units">Sq.ft</div>
                <input type="number" [(ngModel)]="tiles" name="tiles" id="tiles" class="form-txtbox tiles">
                <div class="icon-container"><img class="logo" src="assets/img/ceramic.png"></div>
                <div class="input-title">Ceramic Tiles</div>
            </div>
            <div class="form-rows">
                <div class="form-units">Sq.ft</div>
                <input type="number" [(ngModel)]="glass" name="glass" id="glass" class="form-txtbox glass">
                <div class="icon-container"><img class="logo" src="assets/img/glass.png"></div>
                <div class="input-title">Glass</div>
            </div>
            <div class="form-rows">
                <div class="form-units">Tons</div>
                <input type="number" [(ngModel)]="aluminium" name="aluminium" id="aluminium" class="form-txtbox aluminium">
                <div class="icon-container"><img class="logo" src="assets/img/aluminium.png"></div>
                <div class="input-title">Aluminium</div>                
            </div>
            <div class="or">
                <h4>(OR)</h4>
            </div>
            <p class="form-left-title" style="font-style:italic;font-size:14px;">
                Tell us the approximate material quantities used during your construction
            </p>
            <div class="form-rows form-row1">
                <div class="form-units">Sq.ft</div>
                <input [(ngModel)]='sustainable' name="cement" id="eco" class="form-txtbox eco">
                <div class="icon-container"><img class="logo" src="assets/img/sustainable.png"></div>
                <div class="input-title">Sustainable</div><br>
                <span class="input-desc">(Cob, Bamboo, Thatch, Tiles)</span>                
            </div>
            <div class="form-rows form-row1">
                <div class="form-units">Sq.ft</div>
                <input type="number" [(ngModel)]='hybrid' name="cement" id="hybrid" class="form-txtbox hybrid">
                <div class="icon-container"><img class="logo" src="assets/img/hybrid.png"></div>
                <div class="input-title">Hybrid</div><br>
                <span class="input-desc">(CSEB, Rammed Earth, Filter Slab)</span>                
            </div>
            <div class="form-rows form-row1">
                <div class="form-units">Sq.ft</div>
                <input type="number" [(ngModel)]='conventional' name="cement" id="conventional" class="form-txtbox conventional">
                <div class="icon-container"><img class="logo" src="assets/img/conventional.png"></div>
                <div class="input-title">Conventional</div><br>
                <span class="input-desc">(CSEB, Rammed Earth, Filter Slab)</span>   
            </div>
        </div>
        <div class="center-cols">
            <img class="logo" src="assets/img/logo.jpg">
        </div>
        <div class="right-cols">
            <p class="form-right-title">
                This is the Carbon footprint that your construction has left behind and the trees that can balance it
            </p>
            <div class="right-row">
                <div class="output-title">
                    Construction of your building generated
                </div>
                <div class="output-value">
                    <input type="number" name="cement" id="co2" value="" disabled class="out-put">
                </div>
                <span class="tons">Tons</span>
                <div class="right-icon">
                    <img class="logo" src="assets/img/co2-1.png">
                </div>
            </div>
            <div class="right-row">
                <div class="output-title">
                    You would need to plant
                </div>
                <div class="output-value">
                    <input type="number" name="cement" id="trees" class="out-put" value="{{plantedTrees}}{{plantedTrees1}}" disabled>
                </div>
                <div class="right-icon">
                    <img class="logo" src="assets/img/trees-1.png">
                </div>
            </div>
            <br>
            <a href="#page-2" class="plant-trees">Plant Trees</a>
        </div>
    </div>
</div>







<!-- 
<div id="main-body" class="row">
  <div class="col-left">
      <div class="logo-container">
          <img src="assets/img/logo.jpg" alt="Foot Print Logo">
      </div>
  </div>
  <div class="col-right center">
      <div class="strip">
          <h4>STEP-1</h4>
          <p>CALCULATE THE CARBON FOOTPRINT OF YOUR BUILDING</p>
      </div>
      <div>
          <p class="page-title">
              <span class="enter">ENTER</span>
              approximate material quantities used during construction</p>
      </div>
      <div class="form-calculator">
          <div class="input-container">
              <input type="number" [(ngModel)]="cement" name="cement" id="cement" class="form-txtbox cement">
              <span class="form-lbl">Cement [Number of Bags]</span><br>
          </div>
          <div class="input-container">
              <input type="number" [(ngModel)]="steel" name="steel" id="steel" class="form-txtbox steel">
              <span class="form-lbl">Steel [tons]</span><br>
          </div>
          <div class="input-container">    
              <input type="number" [(ngModel)]="bricks" name="bricks" id="bricks" class="form-txtbox bricks">
              <span class="form-lbl">Fired Brick [number]</span><br>
          </div>
          <div class="input-container">    
              <input type="number" [(ngModel)]="tiles" name="tiles" id="tiles" class="form-txtbox tiles">
              <span class="form-lbl">Ceramic Tiles [sq.ft.]</span><br>
          </div>
          <div class="input-container">    
              <input type="number" [(ngModel)]="glass" name="glass" id="glass" class="form-txtbox glass">
              <span class="form-lbl">Glass [sq.ft.]</span><br>
          </div>
          <div class="input-container">    
              <input type="number" [(ngModel)]="aluminium" name="aluminium" id="aluminium" class="form-txtbox aluminium">
              <span class="form-lbl">Aluminium [tons]</span>
          </div>
          <div class="input-container">
              <button (click)="calculateCarbon();" name="form1" id="form1" class="form-txtbox form-btn">SUBMIT</button>&nbsp;
              <button (click)="clearButton();" name="form1" id="form1" class="form-txtbox form-btn">CLEAR</button>
          </div>

          <span class="enter">(OR)</span><br>
          <p><em>you're not sure of any of that, simply enter the area of building</em></p>
          <div class="input-container">    
              <input [(ngModel)]='sustainable' name="cement" id="eco" class="form-txtbox eco">
              <span class="form-lbl">Area [sq.ft.] for a sustainable building (Cob, Bamboo, Thatch, Tiles)</span><br>
          </div>
          <div class="input-container">    
              <input type="number" [(ngModel)]='hybrid' name="cement" id="hybrid" class="form-txtbox hybrid">
              <span class="form-lbl">Area [sq.ft.] for a hybrid building (CSEB, Rammed Earth, Filler Slab)</span><br>
          </div>
          <div class="input-container">    
              <input type="number" [(ngModel)]='conventional' name="cement" id="conventional" class="form-txtbox conventional">
              <span class="form-lbl">Area [sq.ft.] for a conventional building (Brick and Concrete)</span>
          </div>
          <div class="input-container">    
              <button (click)="calculateCarbon1();" name="form2" id="form2" class="form-txtbox form-btn">SUBMIT</button>&nbsp;
              <button (click)="clearButton();" name="form1" id="form1" class="form-txtbox form-btn">CLEAR</button>
              <span class="form-lbl">Area [sq.ft.] for a conventional building (Brick and Concrete)</span> 
          </div>
          
      </div>
  </div>
</div>

<div id="form1-total-tons" class="row" style="margin-top:30px;">
  <div class="col-left">
      <span class="tot-lbl" style="margin-bottom:17px;">Construction of your building has generated</span>
      <span class="tot-lbl">This translates to</span>
  </div>
  
  <div class="col-right calc-result">
      <span class="enter">Result</span><br>
      <input type="number" name="cement" id="co2" value="" disabled class="form-txtbox tot-txt">
      <span class="form-lbl">Construction of your building has generated Tons of Co2</span>
      <img src="assets/img/co2.png">
      <br>
      <input type="number" name="cement" id="trees" class="form-txtbox tot-tree-txt" value="{{plantedTrees}}{{plantedTrees1}}" disabled style="margin-bottom:10px;">
      <span class="form-lbl">This translates to number of trees to be planted in compensation</span>
      <img src="assets/img/trees.png">
      <br>
  </div>
</div> -->



<!-- <div id="form2-total-tons" class="row" style="padding-top:30px;">
    <div class="col-left">
        <span class="tot-lbl" style="margin-bottom:17px;">Construction of your building has generated</span>
        <span class="tot-lbl">This translates to</span>
    </div>
    <div class="col-right">
        <input type="text" name="cement" id="cement" value="{{totalTons1}}" class="form-txtbox tot-txt">
        <span class="form-lbl">Tons of Co2</span><br>
        <input type="text" name="cement" id="cement" class="form-txtbox tot-tree-txt" value="{{plantedTrees1}}" style="margin-bottom:10px;">
        <span class="form-lbl">number of trees to be planted in compensation</span><br>
    </div>
  </div> -->
<!-- Page 2 -->
<!-- <div id="main-body" class="row" style="border-top:1px solid #666666">
  <div class="col-left">

  </div>
  <div class="col-right">
      <div class="strip">
          <h4>STEP-2</h4>
          <p>CHOOSE AN ORGANIZATION TO PLANT YOUR FOOTPRINT</p>
      </div>
      <div style="padding-top:20px;">
          <ol>
              <li>
                  Click on an area on the map that you would like to support tree-planting activities in
The organizations working in that area will be listed below.
              </li>
              <li>
                  Choose from the list of organizations after exploring their work.
              </li>
              <li>
                  Enter number of trees you would like each of your chosen organizations to plant and add to cart.
              </li>
              <li>
                  Check out and initiate planting your footprint via digital payment.
              </li>
          </ol>
      </div>
      
  </div>
</div> -->

<div id="page-2" class="second-page" style="border-top:1px solid #666666;margin-top:30px;">
    <div class="strip strip-2">
        <h4>STEP-2</h4>
        <p>CHOOSE AN ORGANIZATION TO PLANT YOUR FOOTPRINT</p>
    </div>
</div>



<div class="points" style="padding-top:20px;">
    <ol>
        <li>
            Click on an area on the map that you would like to support tree-planting activities in The organizations working in that area will be listed below.
        </li>
        <li>
            Choose from the list of organizations after exploring their work.
        </li>
        <li>
            Enter number of trees you would like each of your chosen organizations to plant and add to cart.
        </li>
        <li>
            Check out and initiate planting your footprint via digital payment.
        </li>
    </ol>
</div>
        
    

  

<div class="map-container">
  <img src="assets/img/map.png" alt="map">
</div>

<!-- <a href="#products-container"> -->
    <div class="link-container">
    <span id="western_himalaya" value="Western Himalaya" (click)="getRegion1()" class="map-links">
        Western Himalaya
    </span>
    <span id="plains-of-punjab" value="Plains of Punjab" (click)="getRegion2()" class="map-links">
        Plains of Punjab
    </span>
    <span id="arid-western-zone" value="Arid Western Zone" (click)="getRegion3()" class="map-links">
        Arid Western Zone
    </span>
    <span id="urban-centres" value="Urban Centres" (click)="getRegion4()" class="map-links">
        Urban Centres
    </span>
    <span id="western-ghats" value="Western Ghats" (click)="getRegion5()" class="map-links">
        Western Ghats
    </span>
    <span id="ganetic-plains" value="Ganetic Plains" (click)="getRegion6()" class="map-links">
        Gangetic Plains
    </span>
    <span id="central-india" value="Central India" (click)="getRegion7()" class="map-links">
        Central India
    </span>
    <span id="deccan-plateau" value="Deccan Plateau" (click)="getRegion8()" class="map-links">
        Deccan Plateau
    </span>
    <span id="eastern-himalaya" value="Eastern Himalaya" (click)="getRegion9()" class="map-links">
        Eastern Himalaya<br>and North East India
    </span>
    <span id="eastern-plains" value="Eastern Plains" (click)="getRegion10()" class="map-links">
        Eastern Plains
    </span>
    <span id="eastern-ghats" value="Eastern Ghats" (click)="getRegion11()" class="map-links">
        Eastern Ghats 
    </span>
    <span id="southern-plains" value="Southern Plains" (click)="getRegion12()" class="map-links">
        Southern Plains
    </span>
    </div>
<!-- </a> -->
<!-- Product Listing -->
<div id="products-container" class="products-container">

  <h4>Products List</h4>
  
      <div class="products" *ngFor="let product of products_details let i = index">
        <span class="product-list-title">{{product.org_name}}</span>,
        <span>{{product.opr_area}}</span><br>
        <span>Year of Establishment: {{product.year}} Years </span> <b> | </b> <span>Tree Planted: {{product.planted_trees}} </span><br>
        <span>Geographical Zone: {{product.zone}} </span><br>
        <span>Phone Number: {{product.phone}}</span><br>
        <span>Email ID: {{product.email}}</span><br>
        <p class="link-row">Visit website to know more about them <a href="http://{{product.website}}" target="_blank">(Link)</a> </p>
        <div class="purchase-row">
            <span>Add</span>
            <span><input type="number" name="" id="" class="prod-qty"> trees to cart</span>
            <span class="cart-two-btn"><button class="chk-out-btn">Check Out</button></span>
            <span class="cart-two-btn"><button (click)="addToCart(i);" class="add-btn">ADD</button></span>
        </div>
    </div>
</div>




<!-- Page -3 -->
<div class="second-page" style="border-top:1px solid #666666;margin-top:50px;margin-bottom: 20px;text-align: center;">
    <div class="strip strip-2">
        <p style="padding-top:20px;">This service is designed and offered by The Living House Design and Do, Tiruvannamalai info@plantyourfootprint.org</p>
    </div>
</div>