<div id="main-body">
  <div class="container">
      <h4 class="page-heading">Order List</h4>
      <table class="table table-xs">
        <tr class="table-head">
          <th>Name</th>
          <th class="text-right">Phone</th>
          <th class="text-right">Email</th>
          <th class="text-right">Donator</th>
          <th class="text-right">No.of Trees</th>
          <th class="text-right">Name of Org.</th>
          <th class="text-right">Date</th>
          <th class="text-right">Price/Tree</th>
          <th class="text-right">Total Price</th>
        </tr>
        <tr class="item-row" *ngFor="let cartlist of oldItemList let i = index">
          <td>
            <p> <strong>{{cartlist.org_name}}</strong></p>
          </td>
          <td class="text-right" title="Name">{{cartlist.userName}}</td>
          <td class="text-right" title="Phone">{{cartlist.userPhone}}</td>
          <td class="text-right" title="Email">{{cartlist.userEmail}}</td>
          <td class="text-right" title="Donator">{{cartlist.donator}}</td>
          <td class="text-right" title="No.of Trees">{{cartlist.prodQty}}</td>
          <td class="text-right" title="Name of Org.">{{cartlist.org_name}}</td>
          <td class="text-right" title="Date">{{cartlist.ordDate}}</td>
          <td class="text-right" title="Price/Tree">{{cartlist.tree-price}}</td>
          <td class="text-right" title="Total Price">{{cartlist.total-price}}</td>
        </tr>

      </table>
    </div>
</div>
