<div id="main-body">
  <div class="container">
      <h4 class="page-heading">Mycart</h4>
      <table class="table table-xs">
        <tr class="table-head">
          <th>Product Name</th>
          <th>Name</th>
          <th class="text-right">Phone</th>
          <th class="text-right">Email</th>
          <th class="text-right">Donator</th>
          <th class="text-right">No.of Trees</th>
          <th class="text-right">Name of Org.</th>
          <th class="text-right">Date</th>
          <th class="text-right">Price</th>
          <th class="text-right">Remove</th>
        </tr>
        <tr class="item-row" *ngFor="let cartlist of oldItemList let i = index">
          <!-- <td> <img src="http://placehold.it/50x50"/></td> -->
          <td>
            <p> <strong>{{cartlist.org_name}}</strong></p>
          </td>
          <td class="text-right" title="Name">{{cartlist.userName}}</td>
          <td class="text-right" title="Phone">{{cartlist.userPhone}}</td>
          <td class="text-right" title="Email">{{cartlist.userEmail}}</td>
          <td class="text-right" title="Donator">{{cartlist.donator}}</td>
          <td class="text-right" title="No.of Trees">{{cartlist.prodQty}}</td>
          <td class="text-right" title="Name of Org.">{{cartlist.org_name}}</td>
          <td class="text-right" title="Date">{{cartlist.ordDate}}</td>
          <td class="text-right" title="Price">{{cartlist.totPrice}}</td>
          <td class="text-right" title="Remove" (click)="removeCartItem(i);"><i class="fa fa-remove"></i></td>
        </tr>
      </table>
      <div class="separator"></div>
      <!-- User Details form -->
      <div class="user-details">
        <h4>User Details</h4>
        <form>
          <input class="user-form-fields" type="text" name="userName" placeholder="Name">
          <input class="user-form-fields" type="number" name="userPhone" placeholder="Phone Number">
          <input class="user-form-fields" type="email" name="userEmail" placeholder="Email">
          <button class="user-form-fields order-btn">Order</button>
        </form>
      </div>
      <!-- User End -->
    </div>
      
</div>


<!-- <div id="main-body" class="row">
  <div class="inner-row">
      <h1>Mycart List</h1>
      <div class="table-responsive">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Oparation Area</th>
                  <th scope="col">Zone</th>
                  <th scope="col">Planted Trees</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Website</th>
                  <th scope="col">Tax</th>
                  <th scope="col">Amount / Tree</th>
                  <th scope="col">Bank Details</th>
                </tr>
              </thead>
              <tbody  *ngFor="let cartlist of oldItemList let i = index">
                <tr>
                  <th scope="row">{{cartlist.id}}</th>
                  <td>{{cartlist.org_name}}</td>
                  <td>{{cartlist.opr_area}}</td>
                  <td>{{cartlist.zone}}</td>
                  <td>{{cartlist.planted_trees}}</td>
                  <td>{{cartlist.phone}}</td>
                  <td>{{cartlist.email}}</td>
                  <td>{{cartlist.website}}</td>
                  <td>{{cartlist.tax_exempt}}</td>
                  <td>{{cartlist.amt_per_tree}}</td>
                  <td>{{cartlist.bank_detail}}</td>
                  <td><button (click)="removeCartItem(i);" style="background:red;color:#fff;border:none;border-radius:3px;">Remove</button></td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div> -->