<header class="main-header">
  <div class="header-left">
      <div class="header-left1">
          <span>Number of trees planted via this website </span>
          <input type="text" name="header-trees" value="{{totTree}}" class="header-txt" disabled/>
      </div>
      <div class="header-left2">
          <span>Tons of Carbon Emissions Offset </span>
          <input type="text" name="header-tons" value="{{tonsCarbon}}" class="header-txt" disabled/>
      </div>
  </div>
  <div class="header-right">
      <a routerLink="/orders">
        <i class="fa fa-list order-icon" aria-hidden="true"></i>
        <!-- <i class="material-icons list-icon order-icon" style="font-size:34px;">order_list</i> -->
        <!-- <span class="cart-count"> {{oldItemsCount}} </span> -->
    </a>
    <a routerLink="/mycart">
        <i class="material-icons cart-icon" style="font-size:34px;">add_shopping_cart</i>
        <span class="cart-count"> {{oldItemsCount}} </span>
    </a>
  </div>
</header>